.post {
  margin: 1em 0;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.post__title {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
}

.post__author {
  font-weight: 900;
}

.post__author::after {
  content: ':';
  margin-right: 0.5rem;
}

.post__content {
  display: flex;
  flex-flow: row nowrap;
}