.signin-title {
  text-align: center;
}

.login {
  /* box-model */
  border-radius: 2em;
  border: 1.5px solid lightblue;
  /* position */
  display: flex;
  flex-flow: row nowrap;
}

.signinForm {
  /* box-model */
  padding: 1em;
  /* position */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.signinForm .login-button {
  margin-top: 0.5em;
}

.siginForm .signin-title {
  margin-bottom: 0.5em;
}

.login-presentation {
  /* box-model */
  padding: 1em;
  border-left: 1px solid lightblue;
  /* position */
  position: relative;
}

.login-presentation-image {
  width: 100%;
  max-height: 400px;
}

.login-presentation__title {
  /* box-model */
  width: 100%;
  margin: 0;
  /* position */
  position: absolute;
  left: 0;
  bottom: 1em;
  /* style */
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 575.98px) {
  .login {
    flex-flow: column nowrap;
  }

  .login-presentation__title {
    font-size: 2rem;
    bottom: 0.5em;
  }

  .login-presentation {
    border: 0;
    border-top: 1px solid lightblue;
  }
}

@media (max-width: 767.98px) {
  .login-presentation__title {
    font-size: 1.5rem;
    bottom: 0.3em;
  }
}

@media (max-width: 991.98px) {
  .login-presentation__title {
    font-size: 1.5rem;
    bottom: 0.7em;
  }
}