.signupForm {
  /* box-model */
  width: 70%;
  min-width: 100px;
  max-width: 650px;
  border: 1px solid lightsteelblue;
  border-radius: 0.8em;
  padding: 1em;
  /* position */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* style */
  background-color: lightgray;
}

.signupForm-title {
  /* box-model */
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 1em;
  /* position */
  position: relative;
  /* syle */
  text-align: center;
  color: black;
}

.signupForm-title::after {
  content: '';
  /* box-model */
  width: 100%;
  border-bottom: 1px solid lightsteelblue;
  /* position */
  position: absolute;
  bottom: 0;
  left: 0;
}

.group {
  /* box-model */
  width: 100%;
  padding: 0 1em;
  /* position */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}